@charset "UTF-8";


/************** 서브페이지 - 상품안내 PRODUCT **************/
.product_container { margin-bottom: 100px; }
.container { 
    width: 1092px;
    margin: auto;
    padding: 0 20px;
}
/**********************
    container 반응형
**********************/
@media (max-width:1191px){
    .container {width: 952px; }
}

@media (max-width:991px){
    .container {width: 712px; padding: 0 6px;}
}
@media (max-width:768px){
    .container {width: 100%; padding: 0 20px;}
}

/*********** title ***********/
.key_visual { 
    height: 170px;
    background: #eeeeee;
}
.key_visual .title{
    position: absolute;
    top: 80px;
    width: 100%;
    text-align: center;
}
.key_visual h1{
    font-size: 48px;
    font-weight: 400;
    letter-spacing: -0.9px;
    color: inherit;
}
.key_visual .visual{
    display: table-cell; /* vertical-align 안먹을 때 테이블의 셀로 고정*/
    height: 170px;
    vertical-align: bottom;
}
.key_visual .visual img{ 
    max-width: 100%;
}

/*********** sub ***********/
.sub_nav {
    border-bottom: 1px solid #ccc;
}
.sub_nav table { margin: auto; }
.sub_nav table td { padding: 0 20px; }
.sub_nav table td a  {
    position: relative;
    display: inline-block;
    padding: 10px;
    font-size: 16px;
    color: #636363;
}
.sub_nav table td.active a  {
    border-bottom: 2px solid #791e88;
    color: #791e88;
    font-weight: 500;
    margin-bottom: -4px;
}
.sub_nav table td.active a::after  {
    position: absolute;
    content: "";
    left: calc(50% - 11px);
    bottom: -7px;
    width: 22px;
    height: 5px;
    background: url(../img/icon_snb_arr.png);
}
/**********************
        sub 반응형
**********************/
@media (max-width:991px){
    .sub_nav table { width: 100%; }
    .sub_nav table td { padding: 0 10px; }
}
@media (max-width:768px){
    .sub_nav { display: none; }
}

/*********** product title ***********/

.content_wrap {}
.product_cont { margin-top: 40px;}

.product_title { 
    position: relative; 
    margin: 70px 0 10px 0;
}
.product_title .title {
    color: #3a3a3a;
    line-height: 1.5;
}
.product_title .title strong {
    display: block;
    font-size: 35px;
}
.product_title .title span {
    font-size: 16px;
    font-weight: 300;
    margin-top: 10px;
}

.product_title .sns_btn {
    position: absolute;
    right: 0;
    top: 10px;
}
.product_title .sns_btn a {
    padding-left: 3px;
}

.product_title .sns_btn a::before{
    display: inline-block;
    content: "";
    width: 1px;
    height: 15px;
    background: #ccc;
    margin-right: 3px;
}

.product_title .sns_btn a:first-child:before {
    display: none;
}
/**********************
        product title 반응형
**********************/

@media (max-width:991px){
    .product_title .title strong { font-size: 24px;}
    .product_title .sns_btn img {height: 22px;}
    .product_title .share_print { display: none;}
}
@media (max-width:768px){
    .product_title .title span { font-size: 14px;}
}


/*********** title images ***********/

.title_imageS {}
.title_images img { max-width: 100%;}

.find_btn_wrap { 
    padding-top: 50px; 
    text-align: center;
}
.btn_purple { 
    background: #fff;
    outline: none;
    font-size: 16px;
    font-weight: 600;
    padding: 10px 15px;
    border: 1px solid #791e88;
    color: #791e88;
    cursor: pointer;
}

@charset "UTF-8";


/************** 서브페이지 - 상품안내 PRODUCT 2 **************/

/********* nav tab **********/

.product_cont  {}
.product_cont ul.nav_tabs {
    margin-bottom: 35px;
    padding-bottom: 10px;
    border-bottom: 1px solid #ccc;
    text-align: center;
}

.product_cont ul.nav_tabs::before,
.product_cont ul.nav_tabs::after {
    box-sizing: border-box;
}

.product_cont ul.nav_tabs li {
    position: relative;
    display: inline-block;
    bottom: -30px;
    padding: 5px 0;
}

.product_cont ul.nav_tabs li a{
    display: inline-block;
    padding: 5px 15px ;
    margin: 0 5px;
    border: 1px solid #ccc;
    border-radius: 20px;
    color: #58595b;;
    font-weight: 500;
    background: #fff;
}
.product_cont ul.nav_tabs li a.all {
    display: inline-block;
    text-indent: -99999px;
    background: #fff url(../img/sub/ico_all.gif) no-repeat center;
}
